<% if !@items %>
    <p>No Matches Found</p>
<% else %>
  <% @items.each do |item| %>
    <div class="item">
      <div class="image">
        <%= image_tag "#{item[:platform]}.png", class: 'search_thumbnail' %>
      </div>
      <div class="content">
        <%= link_to item[:title], item[:link], class: 'header', target: '_blank' %>
        <div class="meta">
          <span><%= item[:description] %></span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          <!-- <div class="ui label">HTML</div>
          <div class="ui label">CSS</div>
          <div class="ui label">JavaScript</div> -->
        </div>
      </div>
    </div>
  <% end %>
<% end %>
