<div id="padding"></div>

<%= image_tag 'skot.png', id: 'skot' %>

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

<p id="skill_bot_header">
  THE SKILL BOT
</p>
<p id="skill_bot_description">
  * Learning Hub<br/>
  * 1,000+ Courses<br/>
  * Updated Daily<br/>
</p>

<div class="ui top attached segment">
  <div class="ui fluid search">
    <div class="ui icon input">
      <input id="search" class="prompt" type="text" placeholder="Search Pluralsight...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui secondary attached segment">
  <div id="search_results" class="ui unstackable divided items">
    <%= render 'search_results' %>
  </div>
</div>
