the Skill Bot
<%= image_tag 'bot.png' %>

<div class="ui top attached segment">
  <div class="ui fluid search">
    <div class="ui icon input">
      <input class="prompt" type="text" placeholder="Search items...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui secondary attached segment">
  <div class="ui unstackable divided items">
    <div class="item">
      <div class="image">
        <%= image_tag 'pluralsight' %>
      </div>
      <div class="content">
        <a class="header">Title 1</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <%= image_tag 'pluralsight' %>
      </div>
      <div class="content">
        <a class="header">Title 2</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
    <div class="item">
      <div class="image">
        <%= image_tag 'pluralsight' %>
      </div>
      <div class="content">
        <a class="header">Title 3</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
  </div>
</div>
