<div id="padding"></div>

<%= image_tag 'skot.png', id: 'skot' %>

<link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">

<p id="skill_bot_header">
  THE SKILL BOT
</p>
<p id="skill_bot_description" style="width: 300px;">
  Searchable catalog of courses from modern learning platforms.<br/>
</p>
<p style="font-size: 12px; font-style: italic; width: 250px; position: absolute; top: 230px; left: 50px;">
  I just launched, with content from Pluralsight, Coursera, and Udemy. Come back later for more courses and more platforms.
</p>
<!--
<p id="skill_bot_description">
  * Catalog of Courses<br/>
  * <% @items_count %> Courses<br/>
  * 5 Learning Platforms<br/>
</p> -->

<div class="ui top attached segment">
  <div class="ui fluid search">
    <div class="ui icon input">
      <input id="search" class="prompt" type="text" value="<%= params[:q] %>" placeholder="Search Pluralsight...">
      <i class="search icon"></i>
    </div>
  </div>
</div>
<div class="ui secondary attached segment">
  <div id="search_results" class="ui unstackable divided items">
    <%= render 'search_results' %>
  </div>
</div>
