/* HOME PAGE */
.search.fluid .input {
  width: 100%;
}

#padding {
  height: 350px;
}

#skot {
  position: absolute;
  top: 30px;
  right: 50px;
}

#skill_bot_header {
  font-family: 'Roboto Slab', serif;
  font-size: 30px;
  font-weight: bold;
  position: absolute;
  top: 70px;
  left: 50px;
}

#skill_bot_description {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  position: absolute;
  top: 110px;
  left: 50px;
}
